<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbs.mario_ej4_bibliotecas">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".vista.ScrollingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.DatosBiblioteca"
            android:label="@string/title_activity_datos_biblioteca"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <Android.permission.ACTION_VIEW></Android.permission.ACTION_VIEW>
        <Android.permission.ACTION_DIAL></Android.permission.ACTION_DIAL>
    </application>

</manifest>