<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acme.mario_ej1_abogados_bd">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vista.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.MenuInicio"
            android:label="@string/title_activity_menu_inicio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".vista.Alta_Abogados" />
        <activity android:name=".vista.ConsultarAbogado" />
        <activity android:name=".vista.Alta_Casos" />
        <activity android:name=".vista.Info_Abogados" />
        <activity android:name=".vista.Alta_Gestiones"></activity>
    </application>

</manifest>