<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mario_portatil.barbero_mario_2ev">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vista.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vista.login" />
        <activity android:name=".vista.Menu" />
        <activity android:name=".vista.Alta_Notas" />
        <activity android:name=".vista.TodosLosAlumnos" />
        <activity android:name=".vista.Consultar"></activity>
    </application>

</manifest>